{% extends "base.html" %}
<!-- {% block title %}
KCA Student assistance website
{% endblock %} -->
{% block content %} {% include '_messages.html' %}
<div class="text-center h1 text-danger">{{title}}</div>
<div class="container">
  {% from "_formhelpers.html" import render_field %}
  <form method="post" enctype="multipart/form-data">
    <div>
      {{ render_field(form.username ,class="form-control") }} {{
      render_field(form.regno ,class="form-control") }} {{
      render_field(form.course ,class="form-control") }} {{
      render_field(form.password ,class="form-control") }} {{
      render_field(form.confirm ,class="form-control") }}
    </div>
    <p><input type="submit" value="Register" class="btn btn-primary" /></p>
  </form>
</div>

{% endblock %}
