{% extends "base.html" %} {% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      {% include "_messages.html" %} {% if faculties %}
      <h1 class="text-cenetr mt-5">Add a faculty</h1>
      <form action="" method="POST">
        <input type="text" name="faculty" class="form-control" />
        <input type="submit" value="Add Faculty" class="btn btn-info mt-2" />
      </form>
      {% else %}
      <h1 class="text-cenetr mt-5">Add a course</h1>
      <form action="" method="POST">
        <input type="text" name="course" class="form-control" />
        <input type="submit" value="Add Course" class="btn btn-info mt-2" />
      </form>
      {% endif %}
    </div>
    <div class="col-md-3"></div>
  </div>
</div>

{% endblock content %}
